.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #203546;
    padding: 2.3%;
    
  }

#item1
{
    grid-row: 1 / 4;
    height: 89%;
}
.item
{
    border: 5px solid  black;
    height: 35vh;
    border-radius: 5%;
    margin-top: 7%;
    margin: 8%;

}
